/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Style start */
@font-face {
  font-family: 'Red Hat Display';
  src: url(../fonts/RedHatDisplay-VariableFont_wght.ttf) format('truetype');
}

:root {
  --w-color: #fff;
  --e01: #1c2e4d; /* Text titles */
  --e02: #382ae1; /* Button payment */
  --e03: #4137b4; /* Change link */
  --e04: #766cf1; /* Active btn payment */
  --e05: #e0e8ff; /* Body bg */
  --e06: #f8f9fe; /* Plan bg */
  --e07: #fafaff; /* Payment text */
  --g01: #878c9f; /* Body text */
  --g02: #737f97; /* Cancel text */
  --s01: #392ae13f; /* Payment button shadow */
  --s02: #c6cff6; /* Main content shadow */

  --e-font: 'Red Hat Display', Verdana, sans-serif;
}

main { 
  box-shadow: 0px 20px 30px var(--s02);
  border-radius: 20px;
  margin-top: auto;
}

.hero-img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

/* Media query for small screens */
@media screen and (max-width: 1300px) {
  body {
    background: var(--e05) url("../images/pattern-background-mobile.svg") no-repeat 0% -25%;
    background-size: 100vw 60vh;
    font-family: var(--e-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }

  .img-container {
    max-width: 327px;
  }

  
  .content-container {
    background-color: var(--w-color);
    max-width: 327px;
    height: 407px;
    padding: 30px 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
  }

  
}

/* Media query for big screens */
@media screen and (min-width: 1301px) {
  body {
    background: var(--e05) url("../images/pattern-background-desktop.svg") no-repeat 0% -25%;
    background-size: 100vw 60vh;
    font-family: var(--e-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }

  .img-container {
    max-width: 453px;
  }

  .content-container {
    background-color: var(--w-color);
    max-width: 453px;
    height: 481px;
    padding: 45px 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
  }
}


.subcontent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.plan {
  background: var(--e06);
  width: 100%;
  padding: 25px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}

/* Buttons style */
.paymnent-btn {
  background: var(--e02);
  color: var(--e07);
  box-shadow: 0px 15px 25px var(--s01);
  text-decoration: none;
  font-size: 0.95rem;
  font-variation-settings: 'wght' 680;
  width: 100%;
  padding: 15px 0px;
  text-align: center;
  border-radius: 10px;
  transition: 0.2s;
}

.paymnent-btn:hover {
  background: var(--e04);
}

.music-img {
  margin-left: 25px;
}

.change-link {
  text-decoration: underline;
  color: var(--e03);
  font-size: 0.9rem;
  font-variation-settings: 'wght' 980;
  margin-left: auto;
  margin-right: 25px;
}

/* Visited link color disabled */
.change-link:visited,
.cancel-btn:visited {
  color: inherit;
}

.cancel-btn {
  color: var(--g02);
  text-decoration: none;
  font-size: 0.95rem;
  font-variation-settings: 'wght' 880;
}

/* Text style */
.main-title {
  color: var(--e01);
  font-size: 1.7rem;
  font-variation-settings: 'wght' 680;
}

.body-text {
  color: var(--g01);
  font-size: 1.05rem;
  font-variation-settings: 'wght' 610;
  text-align: center;
}

.plan-title {
  color: var(--e01);
  font-size: 1.08rem;
  font-variation-settings: 'wght' 880;
}

footer {
  margin-top: auto;
}

.attribution {
  font-size: 11px;
  font-variation-settings: 'wght' 610;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-variation-settings: 'wght' 750;
}
