/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}


/* Beginning to style */
@font-face {
  font-family: 'Red Hat Display';
  src: url(../fonts/RedHatDisplay-VariableFont_wght.ttf) format('truetype');
}

:root {
  --w-color: #fff;
  --e01: #1c2e4d; /* Text titles */
  --e02: #382ae1; /* Button payment */
  --e03: #4137b4; /* Change link */
  --e04: #766cf1; /* Active btn payment */
  --e05: #e0e8ff; /* Body bg */
  --e06: #f8f9fe; /* Plan bg */
  --e07: #fafaff; /* Payment text */
  --g01: #878c9f; /* Body text */
  --g02: #737f97; /* Cancel text */

  --e-font: 'Red Hat Display' , Verdana, sans-serif;
}

body {
  background: var(--e05);
  font-family: var(--e-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.img-container {
  max-width: 406px;
}

.content-container {
  background-color: var(--w-color);
  max-width: 406px;
  padding: 53px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
}

.main-title {
  color: var(--e01);
  font-variation-settings: "wght" 680;
}

.body-text {
  color: var(--g01);
  font-variation-settings: "wght" 580;
}

.plan-title {
  color: var(--e01);
  font-variation-settings: "wght" 880;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }